@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400&display=swap');

body {
  font-family: 'Lato', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #F7F7F7;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}


img {
  width: 350px;
  height: 200px;
  overflow: hidden;
}

.blog-posts {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: auto;
}

.post {
  width: calc(33.33% - 10px); /* Subtracting 10px to account for margins */
  font-family: 'Lato', sans-serif;
  margin-bottom: 20px;
  background-color: #ffffff;
  width: 350px;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add a drop shadow */
}


.post-content {
  padding: 10px;
  
}

.content {
  margin-bottom: 25px;
}


 .button-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}


.post-location, .post-author, .post-date {
  text-align: right;
  font-size: 11px;
  font-style: italic;
  margin-top: 0;
}
.headline-text {
  line-height: 1.5;
  margin-top: 50px;
  margin-bottom: 50px;
  align-content: center;
  text-align: center;
}

.blog-title{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.container {
  max-width: 1110px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-content: center;
}

h3{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 1px;
  font-family: 'Lato', sans-serif;
  color: #047386;
}
p{
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0;
  font-family: 'Lato', sans-serif;
}

.destcard {
  position: relative;
}

.destcard-container {
  position: relative;
  padding: 20px;
}

.destcard-location {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 25px;
  font-weight: bold;
  text-shadow: 2px 2px #000000;
}

.destcard-image {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}
